<div>
    <form [formGroup]="productsForm" (submit)="showData()">
<div>
    category:
    <input type="text" formControlName="category">
</div>

<div formArrayName="brands" *ngFor="let brand of productsForm.controls.brands.controls; let i=index;">
<div formGroupName="{{i}}">
    {{brand.get('title').value}}

    <input type="text" formControlName="value" >
</div>
</div>


<input type="submit" value="Click">


    </form>
</div>