<h1 style="text-align: center;">
    Angular Login Example
</h1>

<div class="login">
    <h2 class="login-header">Log in</h2>

    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">

        <p [ngClass]="{'has-error':isSubmitted && formControls.email.errors}">
            <input type="email" placeholder="Email" formControlName="email">
        </p>
        <div *ngIf="isSubmitted && formControls.email.errors" class="hellp-block">
            <div *ngIf="formControls.email.errors.required"> Email is required</div>
        </div>

        <p [ngClass]="{'has-error':isSubmitted && formControls.password.errors}">
            <input type="password" placeholder="Password" formControlName="password">
        </p>
        <div *ngIf="isSubmitted && formControls.password.errors" class="hellp-block">
            <div *ngIf="formControls.password.errors.required"> Password is required</div>
        </div>

        <p>
            <button type="submit" value="Login">Login</button>
        </p>
    </form>








</div>